.mo-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: none;
}

.mo-modal-cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include xs {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.mo-modal {
    width: 381px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    transform: translateY(-150%);
    padding: 49px 30px 34px;
    transition: all 0.4s ease-in-out;

    &.mo-modal-in {
        transform: none;
    }

    @include xs {
        width: calc(100% - 18px);
        margin: auto;
        flex-direction: column;
    }
}

.mo-modal-close {
    position: absolute;
    font-size: 20px;
    color: #5e5e5e;
    top: 12px;
    left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    html[dir='ltr'] & {
        right: 15px;
        left: auto;
    }

    &:hover {
        color: $main;
    }
}

.mo-modal-img {
    margin-bottom: 12px;
}

.modal-head {
    font-size: 20px;
    color: $text;
    font-weight: 700;
    margin: 0 0 33px;
    line-height: 1.5;
}


.news-form {
    text-align: center;

    .form-head {
        font-size: 14px;
        color: $text;
        font-weight: 600;
        margin: 0 0 5px;
    }

    .news-input {
        width: 100%;
        height: 40px;
        background-color: #f2f2f2;
        font-size: 16px;
        color: $text;
        padding: 0 25px;
        margin-bottom: 13px;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        &:focus {
            border-color: $sec;
        }
    }

    .news-btn {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        background-color: $main;
        border: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $sec;
        }
    }
}