:root {
    --primary-color: #000000;
    --primary-color-rgb: 0, 0, 0;
    --secondery-color: #e70d0d;
    --secondery-color-rgb: 231, 13, 13;
    --text-color: #000000;
}

$main:var(--primary-color);
$sec:var(--secondery-color);
$text:var(--text-color);

$back:#fff;
$border:#b3b3b3;

$new:#00ca00;
$off:#e70d0d;
$ship:#ffa300;